In [7]:
%load_ext sql

In [9]:
%sql sqlite:///db.sqlite3

'Connected: @db.sqlite3'

In [13]:
%sql SELECT * FROM sqlite_master WHERE type = "table";

 * sqlite:///db.sqlite3
Done.

[('table', 'django_migrations', 'django_migrations', 2, 'CREATE TABLE "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL)'),
 ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'auth_group_permissions', 'auth_group_permissions', 9, 'CREATE TABLE "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auth_user_groups', 'auth_user_groups', 12, 'CREATE TABLE "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'auth_user_user_permissions', 'auth_user_user_permissions', 13, 'CREATE TABLE "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED)'),
 ('table', 'django_admin_log', 'django_admin_log', 29, 'CREATE TABLE "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_rep ... (167 characters truncated) ... d" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0))'),
 ('table', 'django_content_type', 'django_content_type', 5, 'CREATE TABLE "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL)'),
 ('table', 'auth_permission', 'auth_permission', 30, 'CREATE TABLE "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL)'),
 ('table', 'auth_group', 'auth_group', 15, 'CREATE TABLE "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE)'),
 ('table', 'auth_user', 'auth_user', 7, 'CREATE TABLE "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuse ... (97 characters truncated) ... ail" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL)'),
 ('table', 'django_session', 'django_session', 10, 'CREATE TABLE "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL)'),
 ('table', 'solicitud_proyecto_solicitud_proyecto', 'solicitud_proyecto_solicitud_proyecto', 34, 'CREATE TABLE "solicitud_proyecto_solicitud_proyecto" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "company_name" varchar(500) NOT NULL, "descrip ... (88 characters truncated) ... NOT NULL, "email_address" varchar(200) NOT NULL, "phone_number" varchar(20) NOT NULL, "project_name" varchar(500) NOT NULL, "date" datetime NOT NULL)'),
 ('table', 'project_images_projectimages', 'project_images_projectimages', 33, 'CREATE TABLE "project_images_projectimages" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "image" varchar(100) NOT NULL, "ifk_id" integer NOT NULL REFERENCES "solicitud_proyecto_solicitud_proyecto" ("id") DEFERRABLE INITIALLY DEFERRED)')]

In [14]:
%sql SELECT * FROM project_images_projectimages

 * sqlite:///db.sqlite3
Done.

[]